.container
  svg(viewBox='0 0 508.1 508.1')
    path.b(d='M486.8 215.8H21.2C9.5 215.8 0 225.3 0 237v249.9c0 11.7 9.5 21.2 21.2 21.2h465.7c11.7 0 21.2-9.5 21.2-21.2v-250C508 225.2 498.5 215.8 486.8 215.8z')
    path.a(d='M254 0C160.4 0 84.2 76.2 84.2 169.9v45.9h56.4v-45.9c0-62.5 50.9-113.4 113.4-113.4s113.4 50.9 113.4 113.4v45.9h56.4v-45.9C423.8 76.2 347.7 0 254 0z')
    path.d(d='M458.6 270.1c-4.1 0-7.7 1.6-10.3 4.3 -2.6 2.7-4.2 6.3-4.2 10.3 0 8.1 6.5 14.6 14.6 14.6H508v-29.1h-49.4V270.1z')
    path.d(d='M448.3 351.6c-2.6 2.7-4.2 6.3-4.2 10.3 0 8.1 6.5 14.6 14.6 14.6H508v-29.1h-49.4C454.5 347.3 450.9 348.9 448.3 351.6z')
    path.d(d='M448.3 428.8c-2.6 2.7-4.2 6.3-4.2 10.3 0 8.1 6.5 14.6 14.6 14.6H508v-29.1h-49.4C454.5 424.5 450.9 426.1 448.3 428.8z')
    path.c(d='M302.7 335.2c0-26.9-21.8-48.7-48.7-48.7s-48.7 21.8-48.7 48.7c0 16.6 8.3 31.2 21 40l-16.9 62h89.3l-16.9-62C294.4 366.4 302.7 351.8 302.7 335.2z')


  h2.title {{"Access denied" | translate}} 

  button.btn-material.secondary(*ngIf="!requiredRoles", (click)="authModalsService.show(AuthModals.signIn)")
    i.fa.fa-sign-in
    span {{"Sign in with another account" | translate }}
    
  ng-container(*ngIf="checkRole('ROLE_EMAIL_VERIFED')")
    p {{ "Confirm your email to access this page" | translate }}
    a.btn-material.secondary(routerLink="/settings")
      i.fa.fa-check-square-o
      span {{"Confirm mail" | translate }}
    
    