modal(width="370px", [ngClass]="{shake: recoverPasswordByEmailFormComponent.fail}", [animation]="false", (on-close)="router.navigate(['.'], {relativeTo: route.parent})")
  loader(*ngIf="recoverPasswordByEmailFormComponent.disabled")
  modal-header {{'Recover password by email' | translate}}
  modal-body
    recover-password-by-email-form([step]="RecoverPasswordByEmailStep.changePassword", [code]="route.snapshot.params.code")
    
    