modal(width="370px", [ngClass]="{shake: recoverPasswordByEmailFormComponent.fail}", [close-mode]="0", [animation]="false")
  loader(*ngIf="recoverPasswordByEmailFormComponent.disabled")
  modal-header {{'Recover password by email' | translate}}
  modal-body
    recover-password-by-email-form([step]="RecoverPasswordByEmailStep.changePassword", [code]="route.snapshot.params.code")
    
    