small.author
  a([routerLink]="['/profile', comment.profile.alias || comment.profile.id]")
    img.avatar(*ngIf="comment.profile.avatar", [src]="comment.profile.avatar?.small?.public_path")
    .name {{ comment.profile.name }} {{ isRoot | json }}
  .created(*ngIf='comment.created')
    span {{ comment.created | comment_created }}
    tooltip {{ comment.created | date }}

section.content
  ng-container(*ngFor="let attachment of comment.attachments", [ngSwitch]="attachment.type")
    p.attachment-text(*ngSwitchCase="AttachmentType.text", [innerHTML]="attachment.content.text")
    //img.attachment-image(*ngSwitchCase="AttachmentType.image", [src]="attachment.content.public_path")
    //attachment-video-youtube.attachment-video(*ngSwitchCase="AttachmentType.videoYoutube", [attachment]="attachment.content")
    //p(*ngSwitchCase="AttachmentType.videoYoutube", [innerHTML]="attachment.content.description | post_text_format|linky:{truncate:{length: 60}, stripPrefix: false}")

.actions
  button.reply((click)="toggleForm()") {{ "Reply" | translate }}
  button
    .fa.fa-chevron-up
  .rate(*ngIf="comment.votes.rating!=0", [class.negative]="comment.votes.rating < 0") {{ comment.votes.rating }}
  button
    .fa.fa-chevron-down

comment-form(*ngIf="showForm")
ng-container(*ngIf="comment.comments")
  button.togglerChildComments(*ngIf="root", (click)="toggleChildComments()")
    .fa([class.fa-minus-square]="showChildComments", [class.fa-plus-square]="!showChildComments")
    span(*ngIf="!showChildComments") {{ "Show replies" | translate }}
  
  ng-container(*ngIf="showChildComments")
    comment(*ngFor="let childComment of comment.comments;", [comment]="childComment", [root]="false")
