modal(width="330px", [can-close]="false", [ngClass]="{shake: signInForm.fail}")
  loader(*ngIf="signInForm.disabled")
  modal-header(title="{{'Login to the resource' | translate}}")
  modal-body
    sign-in-form