doctype html
ng-container(*ngIf="profile")
  header
    .backdrop(
      [style.background-image]="'url(https://pbs.twimg.com/profile_banners/385368327/1385539533/1500x500)'",
      [attr.data-profile-id] = "profile.id",
      [attr.data-account-id]="profile.account_id",
      [attr.data-profile-alias]="profile.alias"
    )
      figure
        img(src="{{avatarPath}}", (click)="cropperService.browseFile()")
        figcaption
          h1
            | {{profile.name}}
            span.fa-stack
              i.fa.fa-certificate.fa-stack-1x
              i.fa.fa-check.fa-stack-1x
          span @{{profile.alias}}
  
  
  p {{ "Gender" | translate }}: {{ profile.gender | translate }}    
  p {{ "Birth date" | translate }}: {{ profile.birth_date | date }}    
  p {{ "Created" | translate }}: {{ profile.created | date }}

  modal(width="500px", [hidden]="!cropperService.enabled", (on-close)="cropperService.destroy()", [backdrop]="false")
    modal-header(title="Загрузка изображения")
    modal-body
      article
        p Выбранная область будет показываться на Вашей странице.
        p Если изображение ориентировано неправильно, фотографию можно повернуть.
      .cropper-modal-box
        img(#crop)
    modal-footer
      button.btn.primary Сохранить