doctype html
ng-container(*ngIf="profile")
  header
    .backdrop(
      [style.background-image]="'url(https://pbs.twimg.com/profile_banners/385368327/1385539533/1500x500)'",
      [attr.data-profile-id] = "profile.id",
      [attr.data-account-id]="profile.account_id",
      [attr.data-profile-alias]="profile.alias"
    )
      figure
        form([formGroup]="form")
          input(#fileInput, formControlName="image", type="file", accept="image/*", (change)="browseFileHandler($event.target.files[0])")
        img(#avatar, src="{{avatarPath}}", (click)="browseFile($event)")
        figcaption
          h1
            | {{profile.name}}
            span.fa-stack
              i.fa.fa-certificate.fa-stack-1x
              i.fa.fa-check.fa-stack-1x
          span @{{profile.alias}}
  
  
  p {{ "Gender" | translate }}: {{ profile.gender | translate }}    
  p {{ "Birth date" | translate }}: {{ profile.birth_date | date }}    
  p {{ "Created" | translate }}: {{ profile.created | date }}
  

  modal(width="500px", height="500px", [ngClass]="{hidden: !avatarCropperModalService.isVisible}", (on-close)="avatarCropperModalService.hide()")
    modal-header(title="Загрузка изображения")
    modal-body
      img(#crop)
  
  //span.result(*ngIf='data.image')
  //  img([src]='data.image', [width]='croppedWidth', [height]='croppedHeight')
  //  |         {{data1.image.length}}
  