ng-container(*ngIf="profile")
  header
    .backdrop
      profile-backdrop-cropper(*ngIf="profileService.isOwn(profile)", (onCrop)="uploadBackdrop($event)", [disabled]="disabled")
      ng-container(*ngIf="backdropHelper.disabled()")
        img(*ngIf="profile.backdrop", [src]="profile.backdrop?.public_path")
        
        ng-container(*ngIf="profileService.isOwn(profile)")
          button(*ngIf="profileService.hasBackdrop(profile)", (click)="backdropActionsHelper.show()") {{ "Change" | translate }}
          .add-new-backdrop(*ngIf="!profileService.hasBackdrop(profile)") 
            button((click)="backdropActionsHelper.show()") {{ "Add image" | translate}}

      figure(*ngIf="backdropHelper.disabled()")
        .avatar
          profile-avatar([profile]="profile", [size]="'medium'", routerLink="avatar")
          button(*ngIf="profileService.isOwn(profile)", (onChange)="avatarHelper.setData($event.image, $event.src)", cropper-browse) {{ "Change" | translate }}
        figcaption
          h1
            | {{profile.name}}
            span.fa-stack
              i.fa.fa-certificate.fa-stack-1x
              i.fa.fa-check.fa-stack-1x
          span(*ngIf="profile.alias") @{{profile.alias}}

  .profile-info
    section
      h2 {{ "Profile info" | translate }}
      p {{ "Gender" | translate }}: {{ profile.gender | capitalize | translate }}    
      p(*ngIf="profile.birth_date") {{ "Birthday" | translate }}: {{ profile.birth_date | birthday }}    
      p(*ngIf="profile.birth_date") {{ "Age" | translate }}: {{profile.birth_date | datediff:"year" | pluralize:translate("year"):translate("years"):translate("years1")}}
  
      p(title="{{ profile.created | date }}")
        | {{ "Registered" | translate }} 
        ng-container(*ngIf='profile.created | datediff:"year"') {{profile.created | datediff:"year" | pluralize:translate("year"):translate("years"):translate("years1")}} 
        ng-container(*ngIf='profile.created | datediff:"month"') {{profile.created | datediff:"month" | pluralize:translate("month"):translate("months"):translate("months1")}} 
        ng-container(*ngIf='profile.created | datediff:"day"') {{profile.created | datediff:"day" | pluralize:translate("day"):translate("days"):translate("days1")}} 
        | {{"Ago" | translate | lowercase}}
    
  feed(*ngIf="feed", [feed]="feed", (onFeedEnd)="loadFeed($event)", [isLoading]="isLoading")
profile-avatar-cropper((onCrop)="uploadAvatar($event)", [disabled]="disabled")
backdrop-actions(*ngIf="backdropActionsHelper.isVisible", (onChange)="profile = route.snapshot.data.profile")
router-outlet