doctype html
ng-container(*ngIf="profile")
  header
    .backdrop(
      [style.background-image]="'url(https://pbs.twimg.com/profile_banners/385368327/1385539533/1500x500)'",
      [attr.data-profile-id] = "profile.id",
      [attr.data-account-id]="profile.account_id",
    )
      figure
        .avatar
          img(src="{{avatarPath}}")
          button(*ngIf="profile", (click)="cropperService.browseFile()") {{ "Change" | translate }}
        figcaption
          h1
            | {{profile.name}}
            span.fa-stack
              i.fa.fa-certificate.fa-stack-1x
              i.fa.fa-check.fa-stack-1x
          span @{{profile.alias}}
  
  
  p {{ "Gender" | translate }}: {{ profile.gender | translate }}    
  p {{ "Birth date" | translate }}: {{ profile.birth_date | date }}    
  p {{ "Created" | translate }}: {{ profile.created | date }}

  modal(width="500px", [hidden]="!cropperService.enabled", (on-close)="cropperService.destroy()")
    modal-header(title="Загрузка изображения")
    modal-body
      article
        p Выбрите область для маленьких фотографий.
        p Выбранная миниатюра будет использоваться в новостях, личных сообщениях и комментариях.
      .cropper-modal-box
        img(#crop)
    modal-footer
      button.btn((click)="cropperService.destroy()") {{ "Cancel" | translate }}
      button.btn.primary {{ "Save" | translate }}