ng-container(*ngIf="profile")
  header
    .backdrop
      profile-backdrop-cropper((onCrop)="uploadBackdrop($event)", [disabled]="disabled")
      ng-container(*ngIf="backdropHelper.disabled()")
        img(*ngIf="profileService.hasBackdrop(profile)", src="{{profile.backdrop.public_path}}")
        button((onChange)="backdropHelper.setData($event.image, $event.src)", cropper-browse) {{ "Change" | translate }}
      figure
        .avatar
          a(*ngIf="profileService.hasAvatar(profile)", routerLink="avatar")
            img(src="{{profile.avatar.medium.public_path}}")
          div(*ngIf="!profileService.hasAvatar(profile)", [ngClass]="'bg-color-' + getProfileColor() + '-300'") {{ getProfileFirstLetters() }}	 
          button((onChange)="avatarHelper.setData($event.image, $event.src)", cropper-browse) {{ "Change" | translate }}
        figcaption
          h1
            | {{profile.name}}
            span.fa-stack
              i.fa.fa-certificate.fa-stack-1x
              i.fa.fa-check.fa-stack-1x
          span @{{profile.alias}}
  section
    p {{ "Gender" | translate }}: {{ profile.gender | capitalize | translate }}    
    p(*ngIf="profile.birth_date") {{ "Birthday" | translate }}: {{ profile.birth_date | birthday }}    
    p(*ngIf="profile.birth_date") {{ "Age" | translate }}: {{profile.birth_date | datediff:"year" | pluralize:translate("year"):translate("years"):translate("years1")}}
    
    p(title="{{ profile.created | date }}")
      | {{ "Registered" | translate }} 
      ng-container(*ngIf='profile.created | datediff:"year"') {{profile.created | datediff:"year" | pluralize:translate("year"):translate("years"):translate("years1")}} 
      ng-container(*ngIf='profile.created | datediff:"month"') {{profile.created | datediff:"month" | pluralize:translate("month"):translate("months"):translate("months1")}} 
      ng-container(*ngIf='profile.created | datediff:"day"') {{profile.created | datediff:"day" | pluralize:translate("day"):translate("days"):translate("days1")}} 
      | {{"Ago" | translate | lowercase}}
    
profile-avatar-cropper((onCrop)="uploadAvatar($event)", [disabled]="disabled")
router-outlet