doctype html
ng-container(*ngIf="profile")
  header
    .backdrop(
      [style.background-image]="'url(https://pbs.twimg.com/profile_banners/385368327/1385539533/1500x500)'",
      [attr.data-profile-id] = "profile.id",
      [attr.data-account-id]="profile.account_id",
    )
      figure
        .avatar
          img(src="{{avatarPath}}")
          button(*ngIf="profile", (click)="cropperService.browseFile()") {{ "Change" | translate }}
        figcaption
          h1
            | {{profile.name}}
            span.fa-stack
              i.fa.fa-certificate.fa-stack-1x
              i.fa.fa-check.fa-stack-1x
          span @{{profile.alias}}
  
  p {{ "Gender" | translate }}: {{ profile.gender | capitalize | translate }}    
  p {{ "Birthday" | translate }}: {{ profile.birth_date | date:"d MMM" }}    
  p {{ "Age" | translate }}: {{profile.birth_date | datediff:"year" | pluralize:"год":"года":"лет"}}    
  p(title="{{ profile.created | date }}") 
    | {{ "Registered" | translate }} 
    ng-container(*ngIf='profile.created | datediff:"year"') {{profile.created | datediff:"year" | pluralize:"год":"года":"лет"}} 
    ng-container(*ngIf='profile.created | datediff:"month"') {{profile.created | datediff:"month" | pluralize:"месяц":"месяца":"месяцев"}} 
    ng-container(*ngIf='profile.created | datediff:"day"') {{profile.created | datediff:"day" | pluralize:"день":"дня":"дней"}} 
    | {{"Ago" | translate | lowercase}}
    
  modal(width="500px", [hidden]="!cropperService.enabled", [backdrop-close]="false", (on-close)="cropperService.destroy()")
    modal-header(title="Загрузка изображения")
    modal-body
      article
        p Выбрите область для маленьких фотографий.
        p Выбранная миниатюра будет использоваться в новостях, личных сообщениях и комментариях.
      .cropper-modal-box
        img(#crop)
    modal-footer
      button.btn((click)="cropperService.destroy()") {{ "Cancel" | translate }}
      button.btn.primary {{ "Save" | translate }}