input(
  ng-detect-empty-input,
  type="text",
  [id] = "id",
  [value]="value",
  rows="1",
  (input)="onInput($event.target.value)"
)
hr
label.material-label([for]="id") {{'Enter video link. Support Youtube, Coub' | translate }}
