doctype html
ng-container(*ngIf="!attachmentVideo")
  input(
    #input
    ng-detect-empty-input,
    type="text",
    [id] = "id",
    [value]="value",
    rows="1",
    [disabled]="disabled",
    (input)="onInput($event.target.value)"
  )
  hr
  label.material-label([for]="id") {{'Enter youtube link.' | translate }}

.preview(*ngIf="attachmentVideo")
  img(src="{{ attachmentVideo.content.image }}")
  .fa.fa-play-circle
