@import "../../../../assets/styles/global";

@include mq($from: desktop) {
  :host.shake .modal-box {
    animation: shake 600ms cubic-bezier(.36,.07,.19,.97) both;
  }
}

.modal, .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.backdrop {
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 1001;

  @include mq($from: tablet) {
    animation: fade 600ms ease-in-out both, zoom 600ms ease-in-out both;
  }

  .modal-box {
    position: relative;
    background: white;
    overflow: auto;

    @include mq($from: tablet) {
      border-radius: 3px;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
      max-height: calc(100vh - 60px);
    }

    a.close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px;
      color: material-color($secondary_material, "400");
      display: block;
      transition: color 300ms linear;
      &:hover {
        color: material-color($secondary_material, "500");
      }
    }
  }

  @include mq($until: tablet) {
    .modal-box {
      width: 100% !important;
      height: 100% !important;
    }
  }
}