.modal(*ngIf="!isClosed")
  .modal-box([ngStyle]="{width: width, height: height}")
    a.close((click)="close()", *ngIf="canClose")
      i.fa.fa-times
    ng-content

.backdrop(*ngIf="backdrop && !isClosed")
