upstream websocket {
  server php:8000;
  server php:8001;
}

server {
    root /opt/jet/web;
    listen 8080;

    # Frontend (Angular2)
    location / {
        try_files $uri /dist/index.html =404;
    }

    # REST BACKEND (Symfony3)
    location /api {
        try_files $uri /api/app.php$is_args$args;
    }

    location /api/app_dev.php {
        fastcgi_pass php:9000;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
    }

    location /api/app.php {
        fastcgi_pass php:9000;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
        internal;
    }

    # Websocket
    location /ws {
        proxy_read_timeout 950s;
        proxy_pass http://websocket;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
