@import "../../../../assets/styles/global";

li {
  position: relative;
  border-radius: 3px;
  overflow: hidden;

  & + li {
    margin-top: 15px;
  }

  button, img {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 94px;
  }

  button {
    background: material-color($secondary_material, "300");
    color: material-color($secondary_material, "500");
    font-size: 2em;
    transition: background 250ms, color 250ms;
    
    .fa + * {
      margin-left: 5px;
    }
  }

  img {
    transition: filter 250ms;
    filter: brightness(90%) contrast(90%);
  }

  &:hover {
    img {
      filter: brightness(110%) contrast(110%);
    }

    button {
      color: $font_color_dark;
    }
  }

}

button.delete {
  color: material-color("red", "500");
  display: flex;
  justify-content: center;
  padding-right: 10px;
  
  :hover {
    background: material-color("red", "50");
  }

  .fa, div {
    margin-right: .5em;
  }

  div {
    display: none;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    animation: confirmShow 600ms both;
  }

  &.confirm {
    background: material-color("red", "50");

    div {
      display: block;
    }
  }
}

@keyframes confirmShow {
  from {
    max-width: 0;
    display: none
  }

  to {
    max-width: 150px;
    display: block
  }
}