@import '../../../../assets/styles/global';

:host {
  width: 100%;
  max-width: 750px;
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);;
  
  &.visited {
    .title a {
      color: #777;
    }
  }

  .header {
    display: flex;
    align-items: center;
    padding: 7px 0;

    .author {
      display: flex;
      align-items: center;
      color: material-color($primary_material, "600");

      .avatar {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        vertical-align: middle;
      }

      .name {
        margin-left: 1em;
      }
    }

    .created {
      margin-left: .5em;
      color: #999
    }
    
    .rating {
      margin-right: 5px;
      .fa + * {
        margin-left: 5px;
      }
      
      &.positive {
        color: material-color($primary_material, "600"); 
      }
      
      &.negative {
        color: material-color($error_material, "600");
      }
    }
  }
  
  .sticky {
    float: right;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;

    tooltip {
      visibility: hidden;
      transition: visibility;
    }
    &:hover {
      tooltip {
        visibility: visible;
        transition-delay:500ms;
      }
    }
    button {
      color: #999;
      font-size: 18px;
    }
  }
  
  
  .title {
    margin: .3em 0;
    font-size: $h1_size;
    
    a {
      color: material-color($primary_material, "800");
    }
  }

  .tags {
    margin: .5em 0;
    display: flex;
    align-items: center;
    .fa {
      color: #999;
      margin-right: .5em;
    }
    
    ul {
      display: flex;

      li {
        a {
          margin-left: .5em;
          display: block;
          border: 1px #ddd solid;
          border-radius: 2px;
          font-size: 0.734em;
          padding: 3px 6px;
          color: #999;
          transition: border-color 100ms, color 100ms;

          &:hover {
            border-color: #999;
            color:#666;
          }
        }
      }
    }
  }

  .content {
    line-height: 1.5em;
  }
  
  .footer {
    margin: 20px -20px -20px;
    padding: 10px 5px;
    border-top: 1px #e0e0e0 solid;
    display: flex;
    align-items: center;
    background: material-color($secondary_material, '100');
    border-top: 1px material-color($secondary_material, '300') solid;
    font-size: $small_size;
    color: #777;
    
    & > * + * {
      margin-left: 1em;
    }

    .fa {
      margin-right: .4em;
      font-size: 14px;
    }

    .actions {
      position: relative;
      color: #999;

      ul {
        display: none;
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        background: #fff;
        box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
        text-align: left;
        white-space: nowrap;
        font-size: $font_size;
        font-family: $font_family;
        color: material-color($primary_material, "800");

        &.active {
          display: block;
        }

        li a {
          display: block;
          padding: 12px;

          &:hover {
            background: material-color($secondary_material, '100');
          }

          .fa {
            margin-right: 5px;
          }
        }
      }
      
      .fa {
        margin: 0;
      }
    }
  }

  tooltip {
    font-size: $small_size;
    left: calc(50% - 50px);
    width: 86px;
  }
}