@import '../../../../assets/styles/global';

:host {
  width: 100%;
  max-width: 900px;
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);

  &.highlight {
    animation: highlightPost 2s;

    @keyframes highlightPost {
      0% {
        background: material-color("yellow", '100');
      }
      100% {
        background: #fff;
      }
    }
  }
  
  &.visited {
    .title a {
      color: #777;
    }
  }

  .sticky {
    float: right;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    z-index: 1;
    
    button {
      color: #999;
      font-size: 18px;
    }
  }

  .rating {
    float: right;
    margin-right: 5px;
    padding: 11px 0;

    .fa + * {
      margin-left: 5px;
    }

    &.positive {
      color: material-color($primary_material, "600");
    }

    &.negative {
      color: material-color($error_material, "600");
    }
  }

  .author {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      color: material-color($primary_material, "600");

      .avatar {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-right: 1em;
      }

      .name {
        line-height: normal;

        .created {
          color: #999;
          position: relative;
        }
      }
    }
  }

  .title {
    margin: .3em 0;
    font-size: $h1_size;

    a {
      color: material-color($primary_material, "800");
    }
  }

  .tags {
    margin: .5em 0;
    display: flex;
    align-items: center;

    .fa {
      color: #999;
      margin-right: .5em;
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        a {
          margin-left: .5em;
          display: block;
          border: 1px #ddd solid;
          border-radius: 2px;
          font-size: 0.734em;
          padding: 3px 6px;
          color: #999;
          transition: border-color 100ms, color 100ms;

          &:hover {
            border-color: #999;
            color: #666;
          }
        }
      }
    }
  }

  .content {
    line-height: 1.5em;

    .attachment-image {
      width: 100%;
    }

    .attachment-image, .attachment-video{
      margin: 10px 0 15px;

      @include mq($until: tablet) {
        width: calc(100% + 40px);
        margin-left: -20px;
      }
    }
  }

  .footer {
    margin: 20px -20px -20px;
    padding: 10px;
    border-top: 1px #e0e0e0 solid;
    display: flex;
    align-items: center;
    background: material-color($secondary_material, '100');
    border-top: 1px material-color($secondary_material, '300') solid;
    font-size: $small_size;
    color: #777;

    & > * + * {
      margin-left: 1em;
    }

    .fa {
      margin-right: .4em;
      font-size: 14px;
    }

    .for-mobile {
      @include mq($from: tablet) {
        display: none;
      }
    }
    .for-desktop {
      @include mq($until: tablet) {
        display: none;
      }
    }
    
    .vote.active {
        color: material-color($secondary_material, '900');
    }

    .actions {
      position: relative;
      color: #999;

      ul {
        display: none;
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        background: #fff;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
        text-align: left;
        white-space: nowrap;
        font-size: $font_size;
        font-family: $font_family;
        color: material-color($primary_material, "800");

        &.active {
          display: block;
        }

        li a {
          display: block;
          padding: 12px;

          &:hover {
            background: material-color($secondary_material, '100');
          }

          .fa {
            margin-right: 5px;
          }
        }
      }

      .fa {
        margin: 0;
      }
    }
  }

  *:hover {
    >tooltip {
      visibility: visible!important;
      transition-delay: 500ms;
    }
  }
  
  tooltip {
    visibility: hidden;
    transition: visibility;
    text-align: center;
    font-size: $small_size;
    left: calc(50% - 42px);
    width: 70px;
  }
}