// @DOTO: Доверстать!
doctype html
// этот div необходим для корректного position:sticky у .actions (что б не заезжал на .footer)
div
  .sticky
    button.btn-material.secondary((click)="toggleView();")
      .fa.fa-fw.fa-expand([ngClass]='{"fa-expand": minimized, "fa-compress": !minimized}')
      tooltip(*ngIf="minimized") {{ "Expand post" | translate }}
      tooltip(*ngIf="!minimized") {{ "Minimize post" | translate }}

  .rating([ngClass]='{"positive" : post.votes.rating >= 0, "negative" : post.votes.rating < 0}')
    .fa.fa-line-chart
    span {{ post.votes.rating }}

  .author
    ng-container(*ngIf="!minimized")
      a([routerLink]="['/profile', post.profile.alias || post.profile.id]")
        img.avatar([src]="post.profile.avatar.small.public_path")
        .name {{ post.profile.name }} 
      .created(*ngIf='post.created')
        span {{ post.created | post_created }} 
        tooltip {{ post.created | date }}

  h2.title
    a([routerLink]="['/post', post.id ]", target="_blank") {{ post.title }} 

  nav.tags(*ngIf="post.tags.length > 0")
    .fa.fa-tags
    ul
      li(*ngFor="let tag of post.tags;")
        a([routerLink]='["/tag", tag.name]') {{ tag.name }}

  .content(*ngIf="!minimized", #content)
    ng-container(*ngFor="let attachment of post.attachments", [ngSwitch]="attachment.type")
      .attachment-text(*ngSwitchCase="AttachmentType.text")
        p {{attachment.content.text}}
      // @DOTO:
      // .attachment-image
      // .attachment-video
.footer
  .btn-material.secondary.positive
    .fa.fa-thumbs-o-up
    | {{ post.votes.positive }}
  .btn-material.secondary.negative
    .fa.fa-thumbs-o-down
    | {{ post.votes.negative }}
  .flex-space
  .btn-material.secondary
    .fa.fa-comments-o
    | {{ 249 | pluralize:translationService.translate("comment"):translationService.translate("сomments"):translate("comments1") }}
  .btn-material.secondary
    .fa.fa-bullhorn
    | {{"Share" | translate}}
  button.btn-material.secondary.actions((click)='render.addClass(actions, "active")', (focusout)='render.removeClass(actions, "active")')
    .fa.fa-ellipsis-v
    ul(#actions)
      li
        a
          .fa.fa-fw.fa-floppy-o
          | {{"Save" | translate }}
      li
        a
          .fa.fa-fw.fa-pencil
          | {{"Edit" | translate }}
      li
        a
          .fa.fa-fw.fa-flag
          | {{"Report" | translate }}
      li
        a
          .fa.fa-fw.fa-bullhorn
          | {{"Share" | translate }}
