doctype html
// этот div необходим для корректного position:sticky у .actions (что б не заезжал на .footer)
div
  .sticky
    button.btn-material.secondary((click)="toggleView();")
      .fa.fa-fw.fa-expand([ngClass]='{"fa-expand": minimized, "fa-compress": !minimized}')
      
      // @DOTO выходит за края поста!!
      tooltip(*ngIf="minimized") {{ "Expand" | translate }}
      tooltip(*ngIf="!minimized") {{ "Minimize" | translate }}

  .rating([ngClass]='{"positive" : post.votes.rating >= 0, "negative" : post.votes.rating < 0}')
    .fa.fa-line-chart
    span {{ post.votes.rating }}

  .author
    ng-container(*ngIf="!minimized")
      a([routerLink]="['/profile', post.profile.alias || post.profile.id]")
        img.avatar(*ngIf="post.profile.avatar", [src]="post.profile.avatar?.small?.public_path")
        small.name {{ post.profile.name }} 
          .created(*ngIf='post.created')
            span {{ post.created | post_created }}
            tooltip {{ post.created | date }}

  h2.title
    a([routerLink]="getPostUrl()") {{ post.title }} 

  nav.tags(*ngIf="post.tags.length > 0")
    .fa.fa-tags
    ul
      li(*ngFor="let tag of post.tags;")
        a([routerLink]='["/tag", tag.name]') {{ tag.name }}

  .content(*ngIf="!minimized", #content)
    ng-container(*ngFor="let attachment of post.attachments", [ngSwitch]="attachment.type")
      p.attachment-text(*ngSwitchCase="AttachmentType.text", [innerHTML]="attachment.content.text | post_text_format|linky:{truncate:{length: 60}, stripPrefix: false}")
      img.attachment-image(*ngSwitchCase="AttachmentType.image", [src]="attachment.content.public_path")
      attachment-video-youtube.attachment-video(*ngSwitchCase="AttachmentType.videoYoutube", [attachment]="attachment.content")
      //p(*ngSwitchCase="AttachmentType.videoYoutube", [innerHTML]="attachment.content.description | post_text_format|linky:{truncate:{length: 60}, stripPrefix: false}")

.footer
  .btn-material.secondary.vote.positive([class.active]="post.votes.state=='positive'", (click)='vote("positive")')
    .fa.fa-thumbs-o-up
    | {{ post.votes.positive }}
  .btn-material.secondary.vote.negative([class.active]="post.votes.state=='negative'", (click)='vote("negative")')
    .fa.fa-thumbs-o-down
    | {{ post.votes.negative }}
  .flex-space
  .btn-material.secondary([routerLink]="getPostUrl()", fragment="comments")
    .fa.fa-comments-o
    span.for-mobile {{ post.comments_total }} 
    span.for-desktop {{ post.comments_total | pluralize:translationService.translate("comment"):translationService.translate("сomments"):translationService.translate("comments1") }}
  .btn-material.secondary.for-desktop
    .fa.fa-bullhorn
    span {{"Share" | translate}}
  button.btn-material.secondary.actions((click)='render.addClass(actions, "active")', (focusout)='render.removeClass(actions, "active")')
    .fa.fa-ellipsis-v
    ul(#actions)
      li
        a
          .fa.fa-fw.fa-floppy-o
          | {{"Save" | translate }}
      li
        a
          .fa.fa-fw.fa-pencil
          | {{"Edit" | translate }}
      li
        a
          .fa.fa-fw.fa-flag
          | {{"Report" | translate }}
      li
        a
          .fa.fa-fw.fa-bullhorn
          | {{"Share" | translate }}