doctype html
post([post]="route.snapshot.data.post")
section.comments(#commentsEl)
  header 
    h2 {{"Comments" | translate }}
    button
      i.fa.fa-refresh
    .flex-space
    .rate
      span {{"Order by" | translate }}
      button([class.active]="orderCommentsBy == 'date'", (click)="orderCommentsBy = 'date'") {{"date" | translate }}
      button([class.active]="orderCommentsBy == 'rate'", (click)="orderCommentsBy = 'rate'") {{"rating" | translate }}
    
  comment(*ngFor="let comment of route.snapshot.data.comments;", [comment]="comment", [post]="route.snapshot.data.post")
  comment-form(*ngIf="auth.isSignedIn()", [post]="route.snapshot.data.post")
  ng-container(*ngIf="!auth.isSignedIn()") 
    h3 Только авторизованные пользователи могут оставлять комментарии 
    br
    a.btn-material.primary(routerLink="/register")
      span {{"Registration" | translate }}

    a.btn-material.primary(routerLink="/login")
      span Войти
  