doctype html
post([post]="route.snapshot.data.post")
.comments(#commentsEl)
  comment(*ngFor="let comment of route.snapshot.data.comments;", [comment]="comment", [post]="route.snapshot.data.post")
  comment-form([post]="route.snapshot.data.post")