@import "../../../../assets/styles/global";

.profile-settings {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.28);
  max-width: 500px;
  margin: -20px auto 0;
  position: relative;

  @include mq($until: tablet) {
    max-width: none;
    margin: -20px -20px 0;
    box-shadow: none;
  }
}

.error {
  position: absolute;
  right: 0;
  top: calc(50% - 1px);
  margin-top: -0.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: material-color($secondary_material, "400");
  font-size: 0.9em;
  line-height: 1em;

  span {
    vertical-align: middle;
    
    & + span {
      text-transform: lowercase;

      &:before {
        content: ', ';
      }
    }
  }

  .fa {
    padding-right: 0;
  }
}

input.ng-dirty.ng-invalid.ng-touched ~ .error{
  color: material-color("red", "800");

  .fa{
    color: material-color("red", "800");
  }
}
