form([formGroup]="form", (ngSubmit)="submit()", (keydown.enter)="$event.preventDefault()")
  .field
    .input-box
      input(type="text", formControlName="last_name", placeholder="{{'Name' | translate }}", auto-focus)
      hr
  .field
    .input-box
      input(type="text", formControlName="first_name", placeholder="{{'Name' | translate }}", auto-focus)
      hr
  .field
    .input-box
      input(type="text", formControlName="patronymic", placeholder="{{'Name' | translate }}", auto-focus)
      hr
  .field
    .input-box
      input(type="text", formControlName="nickname", placeholder="{{'Name' | translate }}", auto-focus)
      hr


  .controls
    button.btn.primary(type="submit", [disabled]="!form.valid")
      .fa.fa-sign-in
      span {{"Save" | translate }}
