.profile-settings
  loader(*ngIf="disabled")
  form([formGroup]="form", (ngSubmit)="submit()", (keydown.enter)="$event.preventDefault()")
    h2 {{ 'General settings' | translate }}
    br
    label {{ 'Name' | translate }}
    .field
      i.fa.fa-lg.fa-fw.fa-address-card-o
      .input-box
        input(type="text", formControlName="name", placeholder="{{'Name' | translate }}")
        hr
  
    label {{ 'Profile link' | translate }}
    .field
      i.fa.fa-lg.fa-fw.fa-at
      .input-box
        input(type="text", formControlName="alias", placeholder="{{'Alias' | translate }}")
        hr
        .error(*ngIf="form.controls['alias'].hasError('alias_unavailable')")
          i.fa.fa-exclamation-circle
          span {{"Alias unavailable" | translate }} 
        .error(*ngIf="form.controls['alias'].hasError('minlength')")  
          i.fa.fa-exclamation-circle
          span {{"Too short" | translate }}
  
    label {{ 'Gender' | translate }}
    .field
      i.fa.fa-lg.fa-fw.fa-venus-mars
      .input-box
        select(formControlName="gender")
          option(value="male") {{ "Male" | translate }}
          option(value="female") {{ "Female" | translate }}
          option(value="female") {{ "None" | translate }}
    
    label {{ 'Birth date' | translate }}
    .field
      i.fa.fa-lg.fa-fw.fa-birthday-cake
      .input-box
        input(type="date", formControlName="birth_date", placeholder="{{'Birthdate' | translate }}")
        hr
  
    h2 {{ 'Contacts' | translate }}
    
  .controls
      button.btn(*ngIf="changed()", type="button", (click)="reset()")
        .fa.fa-ban
        span {{"Cancel" | translate }}
      button.btn.primary(type="submit", [disabled]="form.invalid")
        .fa.fa-sign-in
        span {{"Save" | translate }}
