loader(*ngIf="disabled")
form([formGroup]="form", (ngSubmit)="submit()", (keydown.enter)="$event.preventDefault()")
  label {{ 'Name' | translate }}
  .field
    .input-box
      input(type="text", formControlName="name", placeholder="{{'Name' | translate }}")
      hr

  label {{ 'Profile link' | translate }}
  .field
    .input-box
      input(type="text", formControlName="alias", placeholder="{{'Alias' | translate }}")
      hr
  
  label {{ 'Gender' | translate }}
  .field
    .input-box
      input(type="text", formControlName="gender", placeholder="{{'Gender' | translate }}")
      hr
  
  label {{ 'Birth date' | translate }}
  .field
    .input-box
      input(type="date", formControlName="birth_date", placeholder="{{'Birthdate' | translate }}")
      hr


  .controls
    button.btn.primary(type="submit", [disabled]="!form.valid")
      .fa.fa-sign-in
      span {{"Save" | translate }}
