@import "../../../../assets/styles/global";

.material-form input[type=checkbox] {
  display: none;

  & + .checkbox {
    cursor: pointer;
    color: material-color($secondary_material, "600");
    user-select: none;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 1.7em;
      height: 1.15em;
      border-radius: 1em;
      
      background: material-color($secondary_material, "300");
      transition: background 200ms;
      box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
      margin-right: .5em;
    }

    &:after {
      content: '';
      position: absolute;
      top: .16em;
      left: .16em;
      width: .85em;
      height: 0.85em;
      border-radius: 50%;
      background: #FFF;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
      transition: left 100ms;
    }

    &:hover {
      color: material-color($secondary_material, "800");
    }
  }

  &:checked + .checkbox {
    &:before {
      background: material-color($primary_material, "400");
    }

    &:after {
      left: 10px;
    }
  }
}