@import "../../../../assets/styles/global";

label.material-label {
  position: absolute;
  cursor: text;
  width:100%;
  top: 0;
  padding: 5px 0;
  border-top: 1px transparent solid;
  transition: all .4s cubic-bezier(.25,.8,.25,1);
  color: material-color($secondary_material, "600");
  transform-origin: 0 0;

  @include mq($until: tablet) {
    line-height: 2em;
  }  
}

input.ng-empty ~ label.material-label {
  transform: translateY(0);
}

label.material-label,
input:focus ~ label.material-label {
  transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
}

input:focus ~ label.material-label {
  color: material-color($primary_material, "800");
}

input.ng-dirty.ng-invalid.ng-touched ~ .material-label {
  color: material-color("red", "800");
}