@import '~sass-material-colors/sass/sass-material-colors';
@import '~sass-mq/mq';

$primary_material:    "blue-grey";
$secondary_material:  "grey";
$error_material:      "red";

$font_color_light:    #FFFFFF;
$font_color_dark:     #333333;

$h1_size:   2rem; // 30px;
$h2_size:   1.4rem;    // 21px;
$h3_size:   1.26rem; // 19px;
$h4_size:   1.13rem; // 17px
$font_size: 15px;
$font_family: Roboto, Arial, Helvetica, sans-serif;
$small_size: 0.866rem;