@import '~sass-material-colors/sass/sass-material-colors';
@import '~sass-mq/mq';

$primary_material:    "blue-grey";
$secondary_material:  "grey";
$error_material:      "red";

$font_color_light:    #FFFFFF;
$font_color_dark:     #333333;

$h1_size:   2.1428em; // 30px;
$h2_size:   1.5em;    // 21px;
$h3_size:   1.3571em; // 19px;
$h4_size:   1.2142em; // 17px
$font_size: 14px;
$font_family: Roboto, Arial, Helvetica, sans-serif;
$small_size: 0.9em;