@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import "~font-awesome/css/font-awesome.css";
@import '~reset-css/reset.css';
@import '~sass-material-colors/sass/sass-material-colors-classes';
@import '~cropperjs/dist/cropper.css';
@import 'cropperjs';
@import "global";
@import "loader";
@import "../../modules/Common/MaterialForm/Styles/text";
@import "../../modules/Common/MaterialForm/Styles/checkbox";
@import "../../modules/Common/MaterialForm/Styles/button";
@import "../../modules/Common/MaterialForm/Styles/label";
@import "../../modules/Common/MaterialForm/Styles/form";
@import "animations";

body {
  background: material-color($secondary_material, "200");
  font-family: $font_family;
  font-size: $font_size;
  color: $font_color_dark;
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
  text-decoration: none;
}

b { font-weight: bold; }

button, input, textarea {
  font-size: $font_size;
  background: none;
  border: none;
  outline: none;
  display: block;
  
  &:-webkit-autofill {
    animation: autofill both;
  }
}

textarea {
  font-family: $font_family;
}

h1 { font-size: $h1_size; }
h2 { font-size: $h2_size; }
h3 { font-size: $h3_size; }
h4 { font-size: $h4_size; }
small { font-size: $small_size; }

// Use it for
// ------- Tile with hr ---------
.hr-box {
  position: relative;
  text-align: center;
  margin: 10px 0;

  .hr-title {
    color: material-color("grey", "400");
    background: white;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 5px;
  }

  hr {
    position: absolute;
    border: none;
    border-bottom: 1px solid material-color("grey", "400");
    width: 100%;
    top: 0;
  }
}

.relative {
  position: relative;
}

// Flex separator
.flex-space {
  flex-grow: 1;
}

.material-field.gu-mirror {
  padding-bottom: 0!important; // @DOTO: make it better
}

.clickable {
  cursor: pointer;
}

.debug {
  font: 12px "Courier New";
  white-space: pre;
  padding: 5px;
  border: 1px #ccc solid;
  background: #eee;
  border-radius: 3px;
}