@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import "~font-awesome/css/font-awesome.css";
@import '~reset.css';
@import '~sass-material-colors/sass/sass-material-colors-classes';
@import '~cropperjs/dist/cropper.css';
@import 'cropperjs';
@import "global";
@import "loader";
@import "form/input";
@import "form/button";
@import "form/form";
@import "animations";

body {
  background: material-color($secondary_material, "200");
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: $font_size;
  -webkit-font-smoothing: antialiased;
  color: $font_color_dark;
}

a {
  cursor: pointer;
  text-decoration: none;
}

b {
  font-weight: bold;
}

button, input {
  background: none;
  border: none;
  outline: none;
}

h1 {
  font-size: $h1_size;
}

h2 {
  font-size: $h2_size;
}

h3 {
  font-size: $h3_size;
}

h4 {
  font-size: $h4_size;
}

small {
  font-size: 0.9em;
}

main a {
  color: $link_color;

  &:hover {
    color: $link_color_hover
  }
}

.hr-box {
  position: relative;
  text-align: center;
  margin: 10px 0;

  .hr-title {
    color: material-color("grey", "400");
    background: white;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 5px;
  }

  hr {
    position: absolute;
    border: none;
    border-bottom: 1px solid material-color("grey", "400");
    width: 100%;
    top: 0;
  }
}

.flex-space {
  flex-grow: 1;
}