@import "animations";

.logoloader {
  background: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    animation: fade .5s cubic-bezier(0.4, 0.0, 0.2, 1) both, zoom .5s cubic-bezier(0.4, 0.0, 0.2, 1) 500ms both;
    height: 200px;
    margin-bottom: 20px;
  }

  .left-cloud {
    fill: material-color($primary_material, '50');
  }

  .right-cloud {
    fill: material-color($primary_material, '100');
  }

  .big-circle {
    fill: material-color("cyan", 'a200');
  }

  .circ {
    fill: material-color("cyan", '500');
  }

  .brain {
    fill: material-color("cyan", 'a200');
    transform-origin: center;
    animation: pulse 2s ease-in-out 500ms infinite alternate;
  }

  .brain-bg {
    fill: material-color($primary_material, '700');
  }

  #statusText {
    color: material-color($primary_material, '200');
    font: {
      size: 18px;
      family: 'Open Sans', sans-serif;
    }
    text-align: center;
    animation: fade 3s cubic-bezier(0.4, 0.0, 0.2, 1) 500ms 1 both;
  }
}

@keyframes pulse {
  15% {
    opacity: .5;
  }
  0%, 30%, 100% {
    opacity: 1;
  }
}