@import '../../../../assets/styles/global';

:host(.progress) {
  cursor: progress;
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 2;
}

header {
  background: material-color($primary_material, '400');
  color: $font_color_light;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  a, button.sidebar {
    transition: background 100ms ease-in-out;
    color: $font_color_light;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include mq($from: tablet) {
      &:hover {
        background: material-color($primary_material, '500');
      }
    }

    &:active {
      background: material-color($primary_material, '700') !important;
    }
  }

  button.sidebar {
    color: $font_color_light;
    padding: 15px;
    margin: 4px 9px;
    border-radius: 50%;
    
    @include mq($until: tablet) {
      padding: 10px;
    }

    .fa {
      width: 2rem;
      font-size: 2rem;
      text-align: center;
    }
  }

  .logo {
    a {
      display: inline-block;
      cursor: pointer;
      outline: none;
      padding: 15px 18px;

      @include mq($from: tablet) {
        padding: 13px 23px;
        font-size: 21px;
        width: 157px;
      }
    }
  }

  .search {
    flex-grow: 1;
    padding: 10px;
    position: relative;
    @include mq($until: tablet) {
      padding: 7px;
    }

    .fa-search {
      top: 0;
      left: 0;
      padding: 27px;
      position: absolute;
      transition: all 150ms;

      @include mq($until: tablet) {
        padding: 22px;
      }
    }

    .input {
      border: none;
      max-width: 500px;
      height: 100%;
      width: 100%;
      transition: all 150ms;
      background: material-color($primary_material, '300');
      color: #fff;
      border-radius: 4px;
      font-size: 1.5em;
      padding-left: 43px;

      @include mq($until: tablet) {
        padding-left: 38px;
        font-size: 1.3em;
      }

      &:focus {
        color: $font_color_dark;
        background: material-color($primary_material, '50');
        & + .fa-search {
          color: $font_color_dark;
        }
      }
    }
  }

  nav.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;

    a {
      position: relative;
      padding: 19px 20px;
      
      @include mq($until: tablet) {
        padding: 15px;
      }
      display: block;

      &.active {
        background: material-color($primary_material, '500');
      }
      
      .fa {
        vertical-align: middle;
        
        & + * {
          margin-left: 8px;
        }
      }

      @include mq($until: desktop) {
        span {
          display: none;
        }
      }
    }
  }
}

.search-results {
  max-width: 500px;
  position: fixed;
  top: 68px;
  left: 290px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 6px material-color($primary_material, '400');
  z-index: 1;

  li a {
    padding: 15px;
    display: block;

    &:hover {
      background: material-color($secondary_material, '100');
    }
  }
}