.header-container
  header
    button.sidebar((click)="sidebar.toggle()")
      i.fa.fa-bars
    .logo
      a(routerLink="/")
        application-logo
    .search(*ngIf="!device.isMobile()")
        input.input(type="text", size="1", (focus)="isSearchResultsVisible = true", (blur)="isSearchResultsVisible = false")
        .fa.fa-search
    .flex-space
    nav.menu
      a(*ngIf="device.isMobile()", (click)="true")
        i.fa.fa-2x.fa-search
        i {{"Search" | translate}}  
      ng-container(*ngIf="auth.isSignedIn()")
        .relative
          a((click)="isProfileTooltipVisible = !isProfileTooltipVisible", [ngClass]="{'active': isProfileTooltipVisible}")
            i.fa.fa-2x.fa-user-circle
            span {{"Profile" | translate}}
          profile-tooltip(*ngIf="isProfileTooltipVisible", (onClose)="isProfileTooltipVisible = false")
      a(*ngIf="!auth.isSignedIn()", routerLink="/login")
        i.fa.fa-2x.fa-sign-in
        span {{"Sign in" | translate}}  
  .search-results(*ngIf="isSearchResultsVisible")
      ul
        li(*ngFor="let result of searchResults")
          a(href="") {{ result }}
  sidebar

application-main
  router-outlet

post-create-button(*ngIf="auth.isSignedIn()", routerLink="/post/add", routerLinkActive="hidden")  
application-loading-bar
application-scroll-button(*ngIf="!device.isMobile()")
settings-modal