.header-container
  header
    button.sidebar((click)="sidebar.toggle()")
      i.fa.fa-2x.fa-bars
    .logo
      a(routerLink="/")
        application-logo
    .search
        input.input(type="text", size="1", (focus)="isSearchResultsVisible = true", (blur)="isSearchResultsVisible = false")
        .fa.fa-search

    nav.menu
      ng-container(*ngIf="auth.isSignedIn()")
        a(*ngIf="profile.isOwnProfileExist()", [routerLink]="['profile', profile.getOwnProfilePath()]", routerLinkActive="active")
          i.fa.fa-2x.fa-user-circle
          span {{"Profile" | translate}}  
        a((click)="auth.signOut()")
          i.fa.fa-2x.fa-sign-out
          span {{"Sign out" | translate}}
      a(*ngIf="!auth.isSignedIn()" routerLink="/login")
        i.fa.fa-2x.fa-sign-in
        span {{"Sign in" | translate}}  
  .search-results(*ngIf="isSearchResultsVisible")
      ul
        li(*ngFor="let result of searchResults")
          a(href="") {{ result }}
  sidebar([ngClass]="sidebar.state")

main([ngClass]="'sidebar-' + sidebar.state")
  router-outlet
  
application-loading-bar
settings-modal