.header-container((panleft)="Device.isMobile() && sidebarService.hide()")
  header
    button.sidebar((click)="sidebarService.toggle()")
      i.fa.fa-2x.fa-bars
    .logo
      a(routerLink="/")
        application-logo

    nav.menu
      a(*ngIf="authService.isSignedIn()", [routerLink]="['profile', 'killers']", routerLinkActive="active")
        i.fa.fa-2x.fa-user-circle
        span {{"Profile" | translate}}  
      a(*ngIf="!authService.isSignedIn()" routerLink="/login")
        i.fa.fa-2x.fa-sign-in
        span {{"Sign in" | translate}}  
      a(*ngIf="authService.isSignedIn()", (click)="authService.signOut()")
        i.fa.fa-2x.fa-sign-out
        span {{"Sign out" | translate}}

  sidebar([ngClass]="sidebarService.state", (swipeleft)="Device.isMobile() && sidebarService.hide()")

main([ngClass]="'sidebar-' + sidebarService.state")
  router-outlet
  
loading-indicator
settings-modal