.header-container((panleft)="device.isMobile() && sidebar.hide()")
  header
    button.sidebar((click)="sidebar.toggle()")
      i.fa.fa-2x.fa-bars
    .logo
      a(routerLink="/")
        application-logo

    nav.menu
      a(*ngIf="auth.isSignedIn()", [routerLink]="['profile', auth.getProfilePath()]", routerLinkActive="active")
        i.fa.fa-2x.fa-user-circle
        span {{"Profile" | translate}}  
      a(*ngIf="!auth.isSignedIn()" routerLink="/login")
        i.fa.fa-2x.fa-sign-in
        span {{"Sign in" | translate}}  
      a(*ngIf="auth.isSignedIn()", (click)="auth.signOut()")
        i.fa.fa-2x.fa-sign-out
        span {{"Sign out" | translate}}

  sidebar([ngClass]="sidebar.state", (swipeleft)="device.isMobile() && sidebar.hide()")

main([ngClass]="'sidebar-' + sidebar.state")
  router-outlet
  
application-loading-bar
settings-modal