@import '../../../../assets/styles/global';

aside {
  bottom: 0;
  width: 280px;
  height: calc(100vh - 100% - 10px);
  position: absolute;
  top: 100%;
  background: #fff;
  will-change: visibility;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  padding-top: 10px;
  font-weight: 500;
  cursor: default;

  @include mq($until: tablet) {
    top: 0;
    height: 100vh;
    z-index: 2;
    padding: 0;
    overflow-y: auto;
  }

  &:hover {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &.hidden {
    visibility: hidden;
    transform: translateX(-280px)!important;
    transition: transform 250ms cubic-bezier(0.4, 0.0, 0.2, 1),
    visibility 0s linear 250ms;
  }

  &.visible {
    visibility: visible;
    transform: translateX(0);
    transition: transform 250ms cubic-bezier(0.4, 0.0, 0.2, 1),
    visibility 0s linear 0s;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

    @include mq($until: tablet) {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    } 
  }
  
  &.dragging {
    transition: none;
  }

  hr {
    border: none;
    height: 1px;
    margin: 10px 0;
    background: material-color($secondary_material, '300');
    flex-shrink: 0;
  }

  > header {
    padding: 15px 27px;
    margin-bottom: 10px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid material-color($secondary_material, '300');
    background: material-color($secondary_material, '200');
    cursor: pointer;

    @include mq($from: tablet) {
      display: none;
    }

    .logo {
      height: 1.9em;
      margin-right: 10px;
      vertical-align: middle;
    }

    h3 {
      flex-grow: 1;
    }

  }
  section {
    h4 {
      color: material-color($secondary_material, '500');
    }

    > * {
      display: block;
      padding: 15px 27px;
      color: material-color($secondary_material, '900');
    }

    > a {
      .fa {
        & + * {
          margin-left: 15px;
        }
        color: material-color($secondary_material, '600');
      }

      &:hover {
        background: material-color($secondary_material, '100');
      }

      &.active {
        background: material-color($primary_material, '50');
      }
    }
  }
  
  .notifications {
    background: #424242;
    width: 100%;
    max-height: calc(100% - 55px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    header {
      padding: 15px;
      width: calc(100% - 30px);
      display: flex;
      cursor: pointer;
      color:#fff;
      flex-shrink: 0;
      
      &:hover {
        background: material-color($secondary_material, "900");
      }
    }
  }

  footer {
    background: material-color($secondary_material, '800');
    display: flex;
    flex-shrink: 0;
    font-size: 1.6em;
    justify-content: flex-end;
    position: relative;
    //margin-top: 10px;

    > a {
      padding: 15px;
      color: material-color($secondary_material, '50');
      &:hover {
        background: material-color($secondary_material, '900');

        .counter {
          border-color: material-color($secondary_material, '900');
        }
      }
      
      .counter {
        position: absolute;
        background: material-color("cyan", 'a200');
        font-size: 0.5em;
        right: 10px;
        top: 7px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        text-align: center;
        line-height: 16px;
        color: material-color($primary_material, '700');
        font-weight: bold;
        border: 2px material-color($secondary_material, '800') solid;  
      }
    }
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: 1;

  &.hidden {
    visibility: hidden;
    opacity: 0!important;
    transition: opacity 250ms cubic-bezier(0.4, 0.0, 0.2, 1),
    visibility 0s linear 250ms;
  }

  &.visible {
    visibility: visible;
    opacity: 0.7;
    transition: opacity 250ms cubic-bezier(0.4, 0.0, 0.2, 1),
    visibility 0s linear 0s;
  }

  &.dragging {
    transition: none;
  }
}

a {
  -webkit-user-drag: none;
}