feed(
  *ngIf="feed.length > 0", 
  [feed]="feed", 
  [isLoading]="isLoading", 
  [showRefresh]="true", 
  [isFeedEnd]="isFeedEnd", 
  [restoreScroll]="routeHelper.popState?.pop || false",
  (onFeedLoad) = "loadFeed($event)",
  (onRefresh)="refresh()"
)
h1(*ngIf="feed.length == 0") Posts not found
router-outlet