modal([width]="'330px'", [close-mode]="0", [ngClass]="{shake: signInForm.fail}")
  loader(*ngIf="signInForm.disabled")
  modal-header {{'Login to the resource' | translate}}
  modal-body
    sign-in-form