modal([width]="'370px'", [close-mode]="closeMode", [ngClass]="{shake: signInForm.fail}", (on-close)='close()')
  loader(*ngIf="signInForm.disabled")
  modal-header {{'Login to the resource' | translate}}
  modal-body
    sign-in-form