modal(width="500px", *ngIf="helper.ready()", [close-mode]="1", (on-close)="helper.destroy()", [animation]="false")
  modal-header Загрузка изображения
  modal-body
    article
      p Выбрите область для маленьких фотографий.
      p Выбранная миниатюра будет использоваться в новостях, личных сообщениях и комментариях.
    figure
      .cropper-modal-box
        img(
          cropper,
          [src]="helper.src",
          [options]="cropperOptions",
          (onChange)="data = $event", 
        )
      .preview-area
        .preview.medium
        .preview.small
  modal-footer
    button.btn(*ngIf="!disabled", (click)="helper.destroy()") {{ "Cancel" | translate }}
    button.btn.primary((click)="submit()", [disabled]="disabled") 
      span(*ngIf="!disabled") {{ "Upload" | translate }}
      span(*ngIf="disabled") {{ "Loading" | translate }}
