modal([width]="'500px'", *ngIf="helper.ready() && form.valid", [close-mode]="1", (on-close)="helper.destroy()", [animation]="false")
  modal-header {{"Image upload" | translate }}
  modal-body
    article
      p {{"Now select area for your profile miniature" | translate }}.
      p {{"The miniature will appear next to your posts, private messages and comments" | translate }}.
    figure
      .cropper-modal-box
        img(
          cropper,
          [src]="helper.src",
          [options]="cropperOptions",
          (onChange)="form.controls['data'].setValue($event)", 
        )
      .preview-area
        .preview.medium
        .preview.small
  modal-footer
    button.btn(*ngIf="!disabled", (click)="helper.destroy()") {{ "Cancel" | translate }}
    button.btn.primary((click)="submit(form.value.data)", [disabled]="disabled || form.invalid") 
      span(*ngIf="!disabled") {{ "Upload" | translate }}
      span(*ngIf="disabled") {{ "Loading" | translate }}

      
modal.errors([width]="'500px'", *ngIf="helper.ready() && form.invalid", (on-close)="helper.destroy()", [animation]="false")
  modal-header {{ "Unfortunately, an error has occurred" | translate }}
  modal-body
    article
      i.fa.fa-exclamation-circle
      ul
        li(*ngIf="form.controls['src'].hasError('tooLarge')") {{ "Photo must be no less than 200 pixels tall and wide." | translate }}
        li(*ngIf="form.controls['src'].hasError('tooSmall')") {{ "Photo must be no more than 7 000 pixels tall and wide." | translate }}
        li(*ngIf="form.controls['src'].hasError('invalidAspectRatio')") {{ "Outrageously tall or wide photos won't work." | translate }}

  modal-footer
    button.btn((click)="helper.destroy()") {{ "Cancel" | translate }}
    button.btn.primary((onChange)="helper.setData($event.image, $event.src)", cropper-browse) {{ "Choose other" | translate }}
