modal([width]="'370px'", [close-mode]="0", [ngClass]="{shake:signUpForm.fail}")
  loader(*ngIf="signUpForm.disabled")
  modal-header {{'New user registration' | translate }}
  modal-body
    sign-up-form
