modal(width="330px", [can-close]="false", [ngClass]="{shake:signUpForm.fail}")
  loader(*ngIf="signUpForm.disabled")
  modal-header {{'New user registration' | translate }}
  modal-body
    sign-up-form
