@import '../../../../assets/styles/global';

:host {
  display: block;
  width: 100%;
  font-weight: normal;
  color: $font_color_light;

  .emptyMessage {
    padding: 10px 2.8em;
    line-height: 1.5em;
    text-align: center;
    color: material-color($secondary_material,"600");
    font-size: $small_size;
  }

  button {
    color: material-color($secondary_material, "600");
    transition: color 250ms, background 250ms;
    margin: 1em 0 0 2.5em;
    &:hover {
      color: $font_color_dark;
    }
  }
}