.emptyMessage(*ngIf="unreadNotifications.length == 0 && !showReaded") Новые уведомления отсутствуют

section(*ngIf="unreadNotifications.length > 0")
  notice(
    *ngFor="let notice of unreadNotifications", 
    [notice]="notice",
    (onActivate)="toggleActiveNotice($event)", 
    [active]="notice === activeNotice"
  )

section(*ngIf="showReaded && readNotifications.length > 0")
  notice(
    *ngFor="let notice of readNotifications", 
    [notice]="notice",
    (onActivate)="toggleActiveNotice($event)", 
    [active]="notice === activeNotice"
  )

button.btn-material.secondary(
  *ngIf="readNotifications.length > 0", 
  (click)="showReaded = !showReaded; scrollIntoView()"
) {{ (showReaded ?  "Hide archive" : "Show archive") | translate }}