modal(width="370px", [ngClass]="{shake: signUpForm.fail}", (on-close)='onClose.emit()')
  loader(*ngIf="signUpForm.disabled")
  modal-header {{'New user registration' | translate }}
  modal-body
    sign-up-form