.profile-backdrop-cropper(*ngIf="helper.ready() && form.valid")
  figure
    .backdrop
      img(
        cropper,
        [src]="helper.src",
        [options]="cropperOptions",
        (onChange)="form.controls['data'].setValue($event)",
      )
  figcaption
    h2 {{ "Drag the image" | translate }}
      small {{ "If you increase the screen resolution, some areas can be cropped" | translate }}
    .controls
      button.btn-material(*ngIf="!disabled", (click)="helper.destroy()") {{ "Cancel" | translate }}
      button.btn-material.primary((click)="submit(form.value.data)", [disabled]="disabled || form.invalid")
        span(*ngIf="!disabled") {{ "Upload" | translate }}
        span(*ngIf="disabled") {{ "Loading" | translate }}

        
modal.errors([width]="'500px'", *ngIf="helper.ready() && form.invalid", (on-close)="helper.destroy()", [animation]="false")
  modal-header {{ "Unfortunately, an error has occurred" | translate }}
  modal-body
    article
      i.fa.fa-exclamation-circle
      ul
        li(*ngIf="form.controls['src'].hasError('tooLarge')") {{"Image must be no more than 7 000 pixels tall and wide." | translate }}
        li(*ngIf="form.controls['src'].hasError('tooSmall')") {{"Image must be no less than 1500 pixels wide and 200 pixels tall." | translate }}

  modal-footer
    button.btn-material((click)="helper.destroy()") {{ "Cancel" | translate }}
    button.btn-material.primary((onChange)="helper.setData($event.image, $event.src)", cropper-browse) {{ "Choose other" | translate }}
        