.profile-backdrop-cropper(*ngIf="helper.ready() && form.valid")
  figure
    img(
      cropper,
      [src]="helper.src",
      [options]="cropperOptions",
      (onChange)="form.controls['data'].setValue($event)",
    )
  figcaption
    h2 Перемещение изображения
      small При увеличении разрешения экрана некоторые участки могут быть обрезаны
    .controls
      button.btn(*ngIf="!disabled", (click)="helper.destroy()") {{ "Cancel" | translate }}
      button.btn.primary((click)="submit(form.value.data)", [disabled]="disabled || form.invalid")
        span(*ngIf="!disabled") {{ "Upload" | translate }}
        span(*ngIf="disabled") {{ "Loading" | translate }}

        
modal.errors([width]="'500px'", *ngIf="helper.ready() && form.invalid", (on-close)="helper.destroy()", [animation]="false")
  modal-header {{ "Unfortunately, an error has occurred" | translate }}
  modal-body
    article
      i.fa.fa-exclamation-circle
      ul
        li(*ngIf="form.controls['src'].hasError('tooLarge')") Изображение слишком большое! (Вставить данные о том какое должно быть)
        li(*ngIf="form.controls['src'].hasError('tooSmall')") Изображение слишком маленькое! (Вставить данные о том какое должно быть)

  modal-footer
    button.btn((click)="helper.destroy()") {{ "Cancel" | translate }}
    button.btn.primary((onChange)="helper.setData($event.image, $event.src)", cropper-browse) {{ "Choose other" | translate }}
        