@import "../../../../../../../assets/styles/global";

.title {
  padding: 15px;
  border-bottom: 1px material-color($secondary_material, '300') solid;
  font-weight: bold;
  background: material-color($secondary_material, '100');
}