.container
  button.btn.btn-google(type="button")
    .fa.fa-fw.fa-google-plus
  button.btn.btn-vk(type="button", (click)="connectVK()")
    .fa.fa-fw.fa-vk
  button.btn.btn-facebook(type="button", (click)="connectFacebook()")
    .fa.fa-fw.fa-facebook
