@import "../../../../assets/styles/global";

.show-password {
  position: absolute;
  right: 0;
  animation: fade 100ms ease-in-out 0s 1 normal both;

  &:hover {
    color: material-color($secondary_material, "600");
  }
}