form.form([formGroup]="form", (ngSubmit)="submit()", (keydown.enter)="$event.preventDefault()")
  .field
    i.fa.fa-user.fa-lg.fa-fw
    .input-box
      input(type="text", formControlName="username", placeholder="{{'Username or email' | translate }}", ng-auto-focus)
      hr
  .field
    i.fa.fa-lock.fa-lg.fa-fw
    .input-box
      input(type="{{isPasswordHidden?'password':'text'}}", formControlName="password", placeholder="{{'Password' | translate}}")
      hr
    i.fa.fa-eye.show-password(*ngIf="form.value['password']", (mouseenter)="isPasswordHidden = false", (mouseleave)="isPasswordHidden = true")
    
  label.field
    .input-box
      input(type="checkbox", formControlName="dont_remember")
      .checkbox 
        | {{"Not my PC" | translate }} 
        .fa.fa-question-circle(title="{{'Auto sign out after 1 hour' | translate}}")

          
  .controls(*ngIf="showControls")
    button.btn(type="button", routerLink="/register")
      .fa.fa-user-plus
      span {{"Registration" | translate }}
    button.btn.primary(type="submit", [disabled]="!form.valid")
      .fa.fa-sign-in
      span {{"Sign in" | translate }}
  br
  .hr-box
    .hr-title {{"or sign in with" | translate }}
    hr
  
  .controls.center
    social-buttons((onConnect)="disabled = true; fail = false", (onComplete)="disabled = false", (onFail)="fail = true")
