form.material-form([formGroup]="form", (ngSubmit)="submit()", (keydown.enter)="$event.preventDefault()", chrome-autofill-fix)
  .material-field
    i.fa.fa-user.fa-lg.fa-fw
    .input-box
      input#signInUsername(ng-detect-empty-input, type="text", formControlName="username")
      hr
      label.material-label(for="signInUsername") {{ 'Email' | translate }}
  .material-field
    i.fa.fa-lock.fa-lg.fa-fw
    .input-box
      input#signInPassword(ng-detect-empty-input, type="{{isPasswordHidden?'password':'text'}}", formControlName="password")
      hr
      label.material-label(for="signInPassword") {{'Password' | translate}}
    i.fa.fa-eye.show-password(*ngIf="form.value['password']", (mouseenter)="isPasswordHidden = false", (mouseleave)="isPasswordHidden = true")
    
  label.field
    .input-box
      input(type="checkbox", formControlName="dont_remember")
      .checkbox 
        | {{"Not my PC" | translate }} 
        .fa.fa-question-circle(title="{{'Auto sign out after 1 hour' | translate}}")

  .controls
    button.btn-material.primary(type="submit", [disabled]="!form.valid")
      .fa.fa-sign-in
      span {{"Sign in" | translate }}


  //.hr-box
  //  .hr-title {{"or sign in with" | translate }}
  //  hr
  //
  //.controls.center
  //  social-buttons((onConnect)="disabled = true; fail = false", (onComplete)="disabled = false", (onFail)="fail = true")

  .hr-box
    .hr-title {{"or you can" | translate }}
    hr
  
  .controls.center
    button.btn-material.secondary(type="button", (click)="authModalsService.show(AuthModals.signUp)")
      small {{"Register" | translate }}
    button.btn-material.secondary(type="button", (click)="authModalsService.show(AuthModals.signUp)")
      small {{"Restore password" | translate }}