//@DOTO finish material labels
form.material-form([formGroup]="form", (ngSubmit)="submit()", (keydown.enter)="$event.preventDefault()")
  .errors(*ngIf="form.hasError('conflict')")
    i.fa.fa-exclamation-circle
    ul
      li Пользователь с таким email уже существует!
  .material-field
    i.fa.fa-lg.fa-fw.fa-address-card-o
    .input-box
      input(type="text", formControlName="name", placeholder="{{'Enter your name' | translate }}", ng-auto-focus)
      hr
  .material-field
    i.fa.fa-at.fa-lg.fa-fw
    .input-box
      input(type="text", formControlName="email", placeholder="{{'Enter your email' | translate }}", ng-auto-focus)
      hr
  
  .material-field
    i.fa.fa-lock.fa-lg.fa-fw
    .input-box
      input(type="{{isPasswordHidden?'password':'text'}}", formControlName="password", placeholder="{{'Enter password' | translate }}")
      hr
      tooltip(*ngIf="form.controls['password'].touched && form.controls['password'].invalid")
        small {{ config.account.constraints.password.invalid_message | translate }}
    i.fa.fa-eye.show-password(*ngIf="form.value['password']", (mouseenter)="isPasswordHidden = false", (mouseleave)="isPasswordHidden = true")
  .material-field
    i.fa.fa-lg.fa-fw
    .input-box
      input(type="password", formControlName="password_confirm", placeholder="{{'Confirm password' | translate}}")
      hr
      tooltip(*ngIf="form.hasError('not_equal_passwords') && form.controls['password_confirm'].touched")
        small {{"Passwords do not match" | translate }}

  .controls
    button.btn-material.primary(type="submit", [disabled]="!form.valid")
      .fa.fa-user-plus
      span {{"Registration" | translate }}

  br

  .hr-box
    .hr-title {{"or sign in with" | translate }}
    hr

  .controls.center
    social-buttons((onConnect)="disabled = true; fail = false", (onComplete)="disabled = false", (onFail)="fail = true")

  .hr-box
    .hr-title {{"or you can" | translate }}
    hr
  
  .controls.center
    button.btn-material.secondary(type="button", (click)="authModalsService.show(AuthModals.signIn)")
      small {{"Sign in" | translate }}
