a(*ngIf="hasAvatar() && href", [routerLink]="href")
  img(src="{{ getPath() }}")

img(*ngIf="hasAvatar() && !href", src="{{ getPath() }}")

div(*ngIf="!hasAvatar() && showMock", [ngClass]="'bg-color-' + palleteService.encode(profile.name) + '-300'") {{ profileService.getProfileFirstLetters(profile) }}	 
