@import '../../../../assets/styles/global';

:host {
  width: 100%;
  height: 40px;
  max-width: 900px;
  text-align: center;
  margin: -20px;
  padding: 0 20px;
  position: relative;


  button {
    color: material-color($secondary_material, '500');
    transition: color 300ms, opacity 300ms, background 300ms;
    margin: 0;
    left: 0;
    padding: 0;
    font-size: $small_size;
    width: 100%;
    line-height: 40px;
    position: absolute;
  }

  .spinner {
    margin-bottom: 20px;
    color: material-color($secondary_material, '800');
    transition: transform 300ms;
    border-radius: 50%;
    transform: translateY(calc(-100% - 5px)) scale(1);
    transform-origin: center;
    padding: 10px;

    .fa {
      width: 1em;
      height: 1em;
    }
  }

  @include mq($until: tablet) {
    height: 60px;
    
    button {
      line-height: 60px;
    }

    .spinner {
      //padding: $small_size;
      font-size: $h2_size;
    }
  }

  &:hover {
    button {
      color: material-color($secondary_material, '700');
      background: material-color($secondary_material, '300');
    }
  }

  &.progress {
    button {
      cursor: default;
      background: none;
      color: transparent;
    }
  }

  &.loading {
    .spinner {
      transform: translateY(22px) scale(1);

      @include mq($until: tablet) {
        transform: translateY(37px) scale(1);
      }
    }
  }

  &.complete {
    .spinner {
      transform: translateY(22px) scale(0);

      @include mq($until: tablet) {
        transform: translateY(37px) scale(1);
      }
    }
  }
}