@import '../../../../assets/styles/global';

:host {
  width: 100%;
  max-width: 900px;
  text-align: center;
  cursor: pointer;
  margin-top: -47px;
  margin-bottom: -20px;
  padding:0 20px 20px;
  transition: margin 500ms, background 300ms;

  small {
    color: material-color($secondary_material, '500');
    display: block;
    line-height: 2px;
    transition: color 300ms, opacity 300ms;
    margin: 0;
  }


  button {
    margin-bottom: 20px;

    color: material-color($secondary_material, '800');
    transition: color 500ms, transform 300ms, margin 300ms;
    border-radius: 50%;
    padding: 5px;

    .fa {
      width: 1em;
      display: block;
      transition: transform 500ms;
    }
  }

  &:hover {
    background: material-color($secondary_material, '300');
    
    small {
      color: material-color($secondary_material, '700');
    }
  }

  &.progress {
    cursor: default;
    background: none;
    
    small{
      color: transparent;
    }
  }

  &.loading {
    margin-top: 0;
    
    button {
      margin-bottom: 0;
    }

    small {
      opacity: 0;
      line-height: 0;
    }
  }
  
  &.complete {
    button {
      transform: scale(0);
    }
  }

}