.tooltip(*ngIf="profile")
  figure
    profile-avatar.avatar([profile]="profile", [size]="'medium'")

    figcaption
      h2 {{ profile.name }}
      ul
        li
          i.fa.fa-fw.fa-bar-chart
          span {{ profile.rating | number}} 
        li
          i.fa.fa-fw.fa-user
          span {{ subscriptions | number}} 
      br
      br
      nav
        a.btn-material.primary([routerLink]="['profile', profileService.getOwnProfilePath()]") Моя Страница
        a.btn-material.secondary(routerLink="/settings", routerLinkActive="active")
          i.fa.fa-fw.fa-sliders
          span {{ "Edit" | translate }}

  footer
    button.btn-material.secondary([disabled]) Сменить профиль

    .flex-space

    button.btn-material((click)="auth.signOut()")
      i.fa.fa-sign-out
      span {{"Sign out" | translate}}
.loading(*ngIf="!profile")
  figure {{ 'Loading' | translate }}