.tooltip(*ngIf="profile")
  figure
    img(*ngIf="profileService.hasAvatar(profile)", src="{{profile.avatar.medium.public_path}}")
    div(*ngIf="!profileService.hasAvatar(profile)", [ngClass]="'bg-color-' + getProfileColor() + '-300'") {{ getProfileFirstLetters() }}
    figcaption
      h2 {{ profile.name }}
      ul
        li
          i.fa.fa-fw.fa-bar-chart
          span {{ rate | number}} 
        li
          i.fa.fa-fw.fa-user
          span {{ subscriptions | number}} 
      br
      br
      nav
        button.btn-material.primary([routerLink]="['profile', profileService.getOwnProfilePath()]") Моя Страница
        button.btn-material.secondary(routerLink="/settings", routerLinkActive="active")
          i.fa.fa-fw.fa-sliders
          span {{ "Edit" | translate }}

  footer
    button.btn-material.secondary([disabled]) Сменить профиль
    
    .flex-space
    
    button.btn-material((click)="auth.signOut()")
      i.fa.fa-sign-out
      span {{"Sign out" | translate}}

.loading(*ngIf="!profile") {{ 'Loading' | translate }}