modal(width="370px", [ngClass]="{shake: signInForm.fail}", (on-close)='onClose.emit()')
  loader(*ngIf="signInForm.disabled")
  modal-header {{'Login to the resource' | translate}}
  modal-body
    sign-in-form