textarea(
  ng-detect-empty-input,
  autosize,
  [id] = "id",
  [value]="value",
  rows="1",
  [style.max-height.px]="150",
  (input)="onInput($event.target.value)"
)
hr
label.material-label([for]="id") {{ placeholder | translate }}
