.container
  button.btn-material.btn-google(type="button")
    .fa.fa-fw.fa-google-plus
  button.btn-material.btn-vk(type="button", (click)="connectVK()")
    .fa.fa-fw.fa-vk
  button.btn-material.btn-facebook(type="button", (click)="connectFacebook()")
    .fa.fa-fw.fa-facebook
