// @DOTO: Сверстать!
.debug
  div(*ngFor="let post of posts;")
    h2 {{ post.entity.title }}
    span(*ngFor="let tag of post.entity.tags.entities;")
      | {{tag.entity.name }}
    | {{ post | json }}