modal(width="330px", [can-close]="false", [ngClass]="{shake:signUpForm.fail}")
  loader(*ngIf="signUpForm.disabled")
  modal-header([title]="'Регистрация нового пользователя'")
  modal-body
    sign-up-form
